[Unit]
Description=Package installation information via http
Requires=network.target
After=network.target
# put here other service requirements

[Service]
Type=simple
SyslogIdentifier=package-info
User=package-info
Environment=MOJO_CONFIG=/etc/package-info.conf
ExecStart=/usr/bin/hypnotoad -f /usr/bin/package-info
ExecStop=/usr/bin/hypnotoad -s /usr/bin/package-info
ExecReload=/usr/bin/hypnotoad /usr/bin/package-info

PrivateTmp=yes
InaccessibleDirectories=/home
ReadOnlyDirectories=/bin /sbin /usr /lib /etc
